:root {
  --color-1: #000;
  --color-2: #fff;
  --color-3: rgb(230, 101, 16);
  --font-family: 'Roboto', sans-serif;
  --transition: all 0.2s linear;

  --box-shadow-1: 0 8px 16px #00000029;
  --box-shadow-2: 0 4px 12px #00000014, 0 0 1px #0100001a;
  --box-shadow-3: 0 1px 1px #0000000a;
  --box-shadow-4: 0 2px 1px #0000000a;
}
*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--font-family);
  line-height: 1.5;
  /* font-size: var(--step-0); */
  /* background-color: var(--bg-color-2); */
  /* color: var(--text-color-2); */
}

.btn {
  margin: 0;
  /* padding: 0; */
  outline: none;
  border: none;
  transition: var(--transition);
  cursor: pointer;
}
a {
  color: var(--color-1);
  text-decoration: none;
  transition: var(--transition);
  text-transform: capitalize;
}
.login-btn {
  /* margin: 0.5em; */
  padding: 01em 2em;
  /* font-weight: 600; */
  width: fit-content;
  text-transform: capitalize;
  font-size: 1.1em;
  border-radius: 0.3em;

  background-color: var(--color-1);
  color: var(--color-2);
  /* border-radius: 40px; */
  border: 2px solid var(--color-1);
  transition: var(--transition);
  box-shadow: var(--box-shadow-3);
}
.login-btn:hover {
  background-color: var(--color-2);
  color: var(--color-1);
  border: 2px solid var(--color-1);
}
