:root {
  --clr-accent-200: #fff;
  --clr-accent-300: rgba(160, 156, 156, 0.13);

  --clr-primary-300: #e66510;

  --clr-neutral-100: #000;

  --ff-primery: 'Roboto', sans-serif;

  --ff-body: var(--ff-primery);
  --ff-heading: var(--ff-primery);

  --fw-reguler: 400;
  --fw-semi-bold: 500;
  --fw-bold: 700;

  --fs-100: 0.5rem;
  --fs-200: 0.85rem;
  --fs-300: 1rem;
  --fs-400: 1.5rem;
  --fs-500: 1.8rem;
  --fs-600: 2rem;
  --fs-700: 2.5rem;
  --fs-800: 3rem;

  --fs-body: var(--fs-300);

  --ts-400: all 0.2s linear;
  --btn-radius: 0.3rem;

  --bxs-100: 0 8px 16px #00000029;
  --bxs-200: 0 4px 12px #00000014, 0 0 1px #0100001a;
  --bxs-300: 0 1px 1px #0000000a;
  --bxs-400: 0 2px 1px #0000000a;

  --d-border: 2px solid hotpink;
}
body {
  font-family: var(--ff-body);
  line-height: 1.5;
  font-size: var(--fs-body);
  color: var(--clr-neutral-100);
}
/* https://piccalil.li/blog/a-modern-css-reset */

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
* {
  margin: 0;
  padding: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100%;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture,
svg {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transition-100s and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
/* styling */

.button {
  outline: none;
  border: none;
  transition: var(--ts-400);
  cursor: pointer;
}
a {
  text-decoration: none;
  text-transform: capitalize;
  cursor: pointer;
}
.login-btn,
.logout-btn {
  margin: 0.5em;
  padding: 01em 2em;
  font-weight: var(--fw-bold);
  width: fit-content;
  font-size: var(--fs-300);
  border-radius: var(--btn-radius);

  background-color: var(--clr-primary-300);
  color: var(--clr-accent-200);
  border-radius: 40px;
  border: 2px solid var(--clr-primary-300);
  transition: var(--ts-400);
  box-shadow: var(--bxs-300);
}
.login-btn:hover,
.login-btn:focus-visible,
.logout-btn:hover,
.logout-btn:focus-visible {
  background-color: var(--clr-accent-200);
  color: var(--clr-neutral-100);
  border: 2px solid var(--clr-neutral-100);
}

.profile-btn {
  background-color: transparent;
}
.profile-btn span {
  display: flex;
  font-size: var(--fs-700);
}

.byemecoffee {
  color: var(--clr-primary-300) !important ;
  font-weight: var(--fw-bold);
  transition: var(--ts-400);
}
.byemecoffee:hover,
.byemecoffee:focus-visible {
  text-decoration: underline;
}
